<a rel="license" href="https://faculdadesalvadorarena.org.br/"><img alt="FESA" style="border-width:0" src="https://faculdadesalvadorarena.org.br/wp-content/uploads/2022/07/logo_fesa.png" /></a><br />
**FESA - Eletiva II (2025.1)** <br/>

Aluno(a): Tainara do Nascimento Casimiro <br/>
RA: 082220011 <br/>
Engenharia de Computação - 6° Semestre <br/>
Data: 10/03/2025 <br/>

Eletiva II - Ambientes Inteligentes <br/>
Professor: Elias Kento Tomiyama <br/>

# Análise dos Dados de Links, Movies, Ratings e Tags

## Importando bilioteca

In [1]:
import pandas as pd

## Carregando os Dados

### Links

In [2]:
# Carregando os dados da tabela 'links'
df_links = pd.read_csv(r'C:\Users\PLAY\Desktop\FESA\EC6\ELETIVA II (AMBIENTES INTELIGENTES)\N1 - Tainara do Nascimento Casimiro/movielens-exploratory-analysis/ml-latest-small/links.csv')

In [3]:
# Renomeando colunas para melhor compreensão
df_links.rename(columns={'movieId': 'ID filme', 'imdbId': 'ID IMDB', 'tmdbId': 'ID TMDB'}, inplace=True)

In [4]:
# Exibindo as primeiras linhas do dataset
print(df_links.head())

   ID filme  ID IMDB  ID TMDB
0         1   114709    862.0
1         2   113497   8844.0
2         3   113228  15602.0
3         4   114885  31357.0
4         5   113041  11862.0

In [5]:
#Correção da coluna "ID TMDB", que contém espaços em valores float nulos e desprezíveis.
df_links["ID TMDB"] = df_links["ID TMDB"].fillna(0).astype(int)

In [6]:
# Exibindo as primeiras linhas do dataset, após correção
print(df_links.head())

   ID filme  ID IMDB  ID TMDB
0         1   114709      862
1         2   113497     8844
2         3   113228    15602
3         4   114885    31357
4         5   113041    11862

In [7]:
# Exibindo a quantidade de linhas e colunas do dataset
print(f'O dataset possui {df_links.shape[0]} exemplos/amostras/linhas e {df_links.shape[1]} atributos/variáveis/colunas.')

O dataset possui 9742 exemplos/amostras/linhas e 3 atributos/variáveis/colunas.

In [8]:
# Exibindo informações gerais do dataset
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID filme  9742 non-null   int64
 1   ID IMDB   9742 non-null   int64
 2   ID TMDB   9742 non-null   int32
dtypes: int32(1), int64(2)
memory usage: 190.4 KB

In [9]:
# Exibindo estatísticas descritivas do dataset
df_links.describe()

            ID filme       ID IMDB        ID TMDB
count    9742.000000  9.742000e+03    9742.000000
mean    42200.353623  6.771839e+05   55116.825395
std     52160.494854  1.107228e+06   93628.351521
min         1.000000  4.170000e+02       0.000000
25%      3248.250000  9.518075e+04    9656.750000
50%      7300.000000  1.672605e+05   16497.500000
75%     76232.000000  8.055685e+05   44147.750000
max    193609.000000  8.391976e+06  525662.000000

### Movies

In [10]:
# Carregando os dados da tabela 'movies'
df_movies = pd.read_csv(r'C:\Users\PLAY\Desktop\FESA\EC6\ELETIVA II (AMBIENTES INTELIGENTES)\N1 - Tainara do Nascimento Casimiro/movielens-exploratory-analysis/ml-latest-small/movies.csv')

In [11]:
# Renomeando colunas
df_movies.rename(columns={'movieId': 'ID filme', 'title': 'Titulo', 'genres': 'Generos'}, inplace=True)

In [12]:
# Ajustando o formato da coluna de gêneros
df_movies['Generos'] = df_movies['Generos'].str.replace('|', ' | ')

In [13]:
# Exibindo as primeiras linhas do dataset
print(df_movies.head())

   ID filme                              Titulo  \
0         1                    Toy Story (1995)
1         2                      Jumanji (1995)
2         3             Grumpier Old Men (1995)
3         4            Waiting to Exhale (1995)
4         5  Father of the Bride Part II (1995)

                                             Generos
0  Adventure | Animation | Children | Comedy | Fa...
1                     Adventure | Children | Fantasy
2                                   Comedy | Romance
3                           Comedy | Drama | Romance
4                                             Comedy

In [14]:
# Exibindo a quantidade de linhas e colunas do dataset
print(f'O dataset possui {df_movies.shape[0]} exemplos/amostras/linhas e {df_movies.shape[1]} atributos/variáveis/colunas.')

O dataset possui 9742 exemplos/amostras/linhas e 3 atributos/variáveis/colunas.

In [15]:
# Exibindo informações gerais do dataset
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID filme  9742 non-null   int64
 1   Titulo    9742 non-null   object
 2   Generos   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [16]:
# Exibindo estatísticas descritivas do dataset
df_movies.describe()

            ID filme
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

### Ratings

In [17]:
# Carregando os dados da tabela 'ratings'
df_ratings = pd.read_csv(r'C:\Users\PLAY\Desktop\FESA\EC6\ELETIVA II (AMBIENTES INTELIGENTES)\N1 - Tainara do Nascimento Casimiro/movielens-exploratory-analysis/ml-latest-small/ratings.csv')

In [18]:
# Renomeando colunas
df_ratings.rename(columns={'userId': 'ID usuario', 'movieId': 'ID filme', 'rating': 'Nota', 'timestamp': 'Data e hora da avaliacao'}, inplace=True)

In [19]:
# Convertendo timestamps para formato de data e hora
df_ratings['Data e hora da avaliacao'] = pd.to_datetime(df_ratings['Data e hora da avaliacao'], unit='s')

In [20]:
# Exibindo as primeiras linhas do dataset
print(df_ratings.head())

   ID usuario  ID filme  Nota Data e hora da avaliacao
0           1         1   4.0      2000-07-30 18:45:03
1           1         3   4.0      2000-07-30 18:20:47
2           1         6   4.0      2000-07-30 18:37:04
3           1        47   5.0      2000-07-30 19:03:35
4           1        50   5.0      2000-07-30 18:48:51

In [21]:
# Exibindo a quantidade de linhas e colunas do dataset
print(f'O dataset possui {df_ratings.shape[0]} exemplos/amostras/linhas e {df_ratings.shape[1]} atributos/variáveis/colunas.')

O dataset possui 100836 exemplos/amostras/linhas e 4 atributos/variáveis/colunas.

In [22]:
# Exibindo informações gerais do dataset
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID usuario                100836 non-null  int64
 1   ID filme                  100836 non-null  int64
 2   Nota                      100836 non-null  float64
 3   Data e hora da avaliacao  100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB

In [23]:
# Exibindo estatísticas descritivas do dataset
df_ratings.describe()

,ID usuario,ID filme,Nota,Data e hora da avaliacao
count,100836.000000,100836.000000,100836.000000,100836
mean,326.127564,19435.295718,3.501557,2008-03-19 17:01:27.368469248
min,1.000000,1.000000,0.500000,1996-03-29 18:36:55
25%,177.000000,1199.000000,3.000000,2002-04-18 09:57:46
50%,325.000000,2991.000000,3.500000,2007-08-02 20:31:02
75%,477.000000,8122.000000,4.000000,2015-07-04 07:15:44.500000
max,610.000000,193609.000000,5.000000,2018-09-24 14:27:30
std,182.618491,35530.987199,1.042529,NaN

### Tags

In [24]:
# Carregando os dados da tabela 'tags'
df_tags = pd.read_csv(r'C:\Users\PLAY\Desktop\FESA\EC6\ELETIVA II (AMBIENTES INTELIGENTES)\N1 - Tainara do Nascimento Casimiro/movielens-exploratory-analysis/ml-latest-small/tags.csv')

In [25]:
# Renomeando colunas
df_tags.rename(columns={'userId': 'ID usuario', 'movieId': 'ID filme', 'tag': 'Tag', 'timestamp': 'Data e hora da atribuicao'}, inplace=True)

In [26]:
# Convertendo os valores da coluna 'Tag' para maiúsculas
df_tags['Tag'] = df_tags['Tag'].str.upper()

In [27]:
# Convertendo timestamps para formato de data e hora
df_tags['Data e hora da atribuicao'] = pd.to_datetime(df_tags['Data e hora da atribuicao'], unit='s')

In [28]:
# Exibindo as primeiras linhas do dataset
print(df_tags.head())

   ID usuario  ID filme              Tag Data e hora da atribuicao
0           2     60756            FUNNY       2015-10-24 19:29:54
1           2     60756  HIGHLY QUOTABLE       2015-10-24 19:29:56
2           2     60756     WILL FERRELL       2015-10-24 19:29:52
3           2     89774     BOXING STORY       2015-10-24 19:33:27
4           2     89774              MMA       2015-10-24 19:33:20

In [29]:
# Exibindo a quantidade de linhas e colunas do dataset
print(f'O dataset possui {df_tags.shape[0]} exemplos/amostras/linhas e {df_tags.shape[1]} atributos/variáveis/colunas.')

O dataset possui 3683 exemplos/amostras/linhas e 4 atributos/variáveis/colunas.

In [30]:
# Exibindo informações gerais do dataset
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID usuario                 3683 non-null   int64
 1   ID filme                   3683 non-null   int64
 2   Tag                        3683 non-null   object
 3   Data e hora da atribuicao  3683 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 115.2+ KB

In [31]:
# Exibindo estatísticas descritivas do dataset
df_tags.describe()

        ID usuario       ID filme      Data e hora da atribuicao
count  3683.000000    3683.000000                           3683
mean    431.149335   27252.013576  2011-10-31 03:32:46.823784960
min       2.000000       1.000000            2006-01-13 19:09:12
25%     424.000000    1262.500000            2006-01-17 18:06:56
50%     474.000000    4454.000000            2010-03-29 03:16:04
75%     477.000000   39263.000000     2017-06-26 05:59:25.500000
max     610.000000  193565.000000            2018-09-16 11:50:03
std     158.472553   43490.558803                            NaN

### Exibindo estatísticas descritivas de todos os datasets

In [32]:
print(df_movies.describe())
print(df_ratings.describe())
print(df_tags.describe())
print(df_links.describe())

            ID filme
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000
          ID usuario       ID filme           Nota  \
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000
std       182.618491   35530.987199       1.042529

            Data e hora da avaliacao
count                         100836
mean   2008-03-19 17:01:27.368469248
min              1996-03-29 18:36:55
25%              2002-04-18 09:57:46
50%              2007-08-02 20:31:02
75%       2015-07-04 07:15:44.500000
max              2018-09-24 14:27:30
std                              NaN
        ID usuario       ID filme      Data e hora da atribuicao
count  3683.000000    3683.000000                           3683
mean    431.149335   27252.013576  2011-10-31 03:32:46.823784960
min       2.000000       1.000000            2006-01-13 19:09:12
25%     424.000000    1262.500000            2006-01-17 18:06:56
50%     474.000000    4454.000000            2010-03-29 03:16:04
75%     477.000000   39263.000000     2017-06-26 05:59:25.500000
max     610.000000  193565.000000            2018-09-16 11:50:03
std     158.472553   43490.558803                            NaN
            ID filme       ID IMDB        ID TMDB
count    9742.000000  9.742000e+03    9742.000000
mean    42200.353623  6.771839e+05   55116.825395
std     52160.494854  1.107228e+06   93628.351521
min         1.000000  4.170000e+02       0.000000
25%      3248.250000  9.518075e+04    9656.750000
50%      7300.000000  1.672605e+05   16497.500000
75%     76232.000000  8.055685e+05   44147.750000
max    193609.000000  8.391976e+06  525662.000000